.welcome {
  margin-top: 70px;
  height: calc(100vh - 134px);
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 40px;
}

.welcome h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

.welcome h3 {
  font-size: 25px;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  height:40px;
  width:40px;
}


